<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs')%>

    
    <form action="/getData" method="POST" enctype="multipart/form-data">
        <input type="text" name="email" id="email"><br>
        <input type="text" name="password" id="pass"><br>
        <input type="checkbox" name="car" id="cb" >Car<br>
        <input type="checkbox" name="bike" id="cb1" >Bike<br>
        <input type="radio" name="cat" id="">Gen
        <input type="radio" name="cat" id="">OBC
        <input type="radio" name="cat" id="">SC


        <input type="file" name="fufile" id="">

        <input type="submit" value="Submit">
    </form>
</body>
</html>