<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 id="h1">Welcome to home page</h1>

    <%- include('nav.ejs')%>


    <!-- <% if(isAdmin) {%>
    <a href="/">Dashboard</a>
    <% } %> -->

    <!-- <h1><%=name%></h1> -->

    <!-- <% arr.forEach((name) => {%>
    <h1><%=name%></h1>
    <% }) %> -->



    <!-- <script>
        var arr = ['amit','rahul','neha']
        arr.forEach((name) => {

        })
    </script> -->
</body>
</html>